[submodule "include/libft"]
	path = include/libft
	url = https://github.com/app-gitKaiwho/libft
[submodule "include/minilibx-linux"]
	path = include/minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
